@import "bower_components/bootstrap/less/bootstrap.less";

// Variables
@logo-size: 150px;
@font-size-base: 14px;

@montserrat: 'Montserrat', sans-serif;
@roboto-slab: 'Roboto Slab', serif;

.content-center {
    margin-left: auto;
    margin-right: auto;
}


hr { 
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    &.divider {
        width: 75%;
    }
}


// All sizes
#my-name {
    font-family: @montserrat;
}

.content {
    font-family: @roboto-slab;
    font-size: @font-size-base + 3px;
    text-align: left;
}

#beta {
    blockquote {
        footer {
            font-size: @font-size-base + 1px;
        }
    }
}

#hello {
    a {
        text-decoration: none;
    }
}

#hello, #work, #projects {
    &.row {
        padding: 15px;
    }
}

.btn {
    border-radius: 0;
}

#contact {
    margin-bottom: 20px;
    .btn {
        margin: 20px;
        font-size: @font-size-base + 2px;
        padding: 10px 15px;
    }
}

#projects {
    ul {
        margin-top: 60px;
        margin-bottom: 0;
        li {

            padding: 0 20px;
        }
    }
    #projects-text {
        display: inline-block;
    }
    #project-success {
        .text-success {
            color: #5CB85C;
        }
        .text-warning {
            color: darken(#F0AD4E, 10%);
            opacity: 0.5;
        }
        .text-danger {
            color: #D9534F;
            opacity: 0.5;
        }
    }
    #project-warning {
        .text-success {
            color: #5CB85C;
            opacity: 0.5;
        }
        .text-warning {
            color: darken(#F0AD4E, 10%);
        }
        .text-danger {
            color: #D9534F;
            opacity: 0.5;
        }
    }
    #project-danger {
        .text-success {
            color: #5CB85C;
            opacity: 0.5;
        }
        .text-warning {
            color: darken(#F0AD4E, 10%);
            opacity: 0.5;
        }
        .text-danger {
            color: #D9534F;
        }
    }
}

blockquote {
    border-left: 0;
}

// All sizes

/* LG */
@media (min-width: @screen-lg) {
    #logo-bg {
        margin-top: 50px;
        margin-bottom: 10px;
        #logo {
            width: @logo-size + 130px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #hello {
        font-size: @font-size-base + 5px;
        &.row {
            padding: 30px;
        }
    }
    #my-name {
        font-size: @font-size-base + 26px;
    }
    #beta {
        blockquote {
            font-size: @font-size-base + 5px;
        }
    }
    #github {
        padding-right: 20px;
    }
}

/* MD */
@media (min-width: @screen-md) and (max-width: @screen-lg) {
    #logo-bg {
        margin-top: 50px;
        margin-bottom: 50px;
        #logo {
            width: @logo-size + 100px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #my-name {
        font-size: @font-size-base + 18px;
    }
    #hello {
        &.row {
            padding: 30px;
        }
    }
}

/* SM */
@media (min-width: @screen-sm) and (max-width: @screen-md) {
    #logo-bg {
        margin-top: 50px;
        margin-bottom: 50px;
        #logo {
            width: @logo-size + 50px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    #my-name {
        font-size: @font-size-base + 12px;
    }
}

/* XS */
@media (max-width: @screen-sm) {
    #logo-bg {
        margin-top: 50px;
        margin-bottom: 30px;
        #logo {
            width: @logo-size;
            margin-left: auto;
            margin-right: auto;
        }
        
    }
    #my-name {
        font-size: @font-size-base + 6px;
    }
    #fivepxl, #GitHub {
        margin-bottom: 20px;
    }
}